<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ArticleMapper">
    <!-- 获取用户的文章数量 -->
    <select id="getArtCountByUid" resultType="Integer">
        select count(*) from articleinfo where uid = #{uid};
    </select>

    <!-- 获取文章列表页 -->
    <select id="getMyList" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where uid = #{uid}
    </select>

    <!-- 删除文章 -->
    <delete id="del">
        delete from articleinfo where id = #{id} and uid = #{uid}
    </delete>

    <!-- 查看全文 -->
    <select id="getDetail" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where id = #{id}
    </select>

    <!-- 阅读量加1 -->
    <update id="incrementRcount">
        update articleinfo set rcount=rcount+1 where id = #{id}
    </update>

    <!-- 新增文章 -->
    <insert id="add">
        insert into articleinfo (title, content, uid) values (#{title}, #{content}, #{uid})
    </insert>

    <!--  更新文章 -->
    <update id="update">
        update articleinfo set title = #{title}, content = #{content}, updatetime = #{updatetime} where id = #{id} and uid = #{uid}
    </update>

    <!-- 根据页数渲染文章 -->
    <select id="getListByPage" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo limit #{psize} offset #{offsize}
    </select>

    <!-- 获取文章总条数 -->
    <select id="getCount" resultType="java.lang.Integer">
         select count(*) from articleinfo;
    </select>
</mapper>